
html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    font-family: sans-serif;
}

#touchable {
    width:100%;
    height:100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0, 0.5)
}

video {
    /*border: 2px solid red;*/
}


#remoteVideos {

    /*background-color: rgba(125,125,125, 0.25);*/

    width: 100%;
    height: 100%;

    z-index: 10;

    text-align: auto;
    
    video {
        width: 100%;
        /*height: 80px;*/
        height: 100%;
    }

}

#localVideo {

    position: absolute;

    bottom: 16px;
    right:16px;

    max-width: 128px;
    height: 128px;

    z-index: 120;
}

#laser-control {

    position: absolute;

    bottom: 0;
    left: 0;

    width: 128px;
    height: 128px;

    z-index: 120;

    background: transparent url(/img/aim.png) no-repeat center center;

}